.hero {
  background-color: #6257fe;
  position: relative;
  z-index: 5;
  top: -66px;
  margin-bottom: -66px;
  &__banner {
    padding: 245px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__uptitle {
    margin-bottom: 7px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 80px;
    max-width: 376px;
  }

  &__img {
    position: relative;
    right: -15px;
    max-height: 845px;
  }
}

// .btn {
//   &__text {
//   }
// }
