.team {
  margin-bottom: 148px;

  &__container {
    text-align: center;
  }

  &__uptitle {
    margin-bottom: 7px;
    color: #6257fe;
  }

  &__title {
    margin-bottom: 62px;
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    color: #100c46;
  }
}
